<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Developer Details</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
				<div class="row">
				    
                      <div class="col-lg-6 col-md-6">
                            <div style="box-shadow: 10px 10px 5px #efefef;" class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img class="rounded" src="resources/images/info/k2.jpg" height="100" width="100">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">&nbsp;</div>
                                            <div>CLAYTON D'SOUZA</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel-footer">
                                    <a><strong>Software Engineer!</strong></a>
                                    <a class="pull-right" style="cursor: pointer;" href="https://www.linkedin.com/in/clayton-dsouza-b13559164/"><span><i class="fa fa-linkedin-square fa-2x"></i></span></a><br>
                                    <span>Mobile No: <strong>+91 855-288-0195</strong></span><br>
                                    <span>Email: <strong>dsouzaclayton95@gmail.com</strong></span><br><br>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6">
                            <div style="box-shadow: 10px 10px 5px #efefef;" class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img class="rounded" src="resources/images/info/shu.jpeg" height="100" width="100">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">&nbsp;</div>
                                            <div>SHUBHAM MAGAR</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel-footer">
                                    <a><strong>Front-End Developer!</strong></a>
                                    <a class="pull-right" style="cursor: pointer;" href="https://www.linkedin.com/in/shubham-magar-166955111/"><span><i class="fa fa-linkedin-square fa-2x "></i></span></a><br>
                                    <span>Mobile No: <strong>+91 976-202-3050</strong></span><br>
                                    <span>Email: <strong>shubhammagar999@gmail.com</strong></span><br><br>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>