<!DOCTYPE html>
<html lang="en" ng-app="3ctledger">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3CT Ledger - Forgot Password</title>

    <!-- Bootstrap Core CSS -->
    <link href="resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="resources/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="resources/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="resources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- jQuery -->
    <script src="resources/vendor/jquery/jquery.min.js"></script>
    <!-- <script src="resources/lib/jquery-2.1.4.min.js"></script> -->
    <script type="text/javascript" src="resources/lib/angular.min.js"></script>
    <script type="text/javascript" src="resources/lib/hotkeys.min.js"></script>
    <script type="text/javascript" src="resources/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="resources/lib/ocLazyLoad.js"></script>
    <script type="text/javascript" src="resources/lib/angular-idle.min.js"></script>
    <!-- <script type="text/javascript" src="resources/lib/angular-validate.js"></script> -->
    <script type="text/javascript" src="resources/lib/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <script type="text/javascript" src="resources/lib/bootbox.min.js"></script>
    <!-- <script type="text/javascript" src="resources/lib/angular-toastr.tpls.min.js"></script> -->
        
    <script src="resources/lib/fileupload/angular-file-upload.min.js" type="text/javascript"></script>

    

    <!-- Bootstrap Core JavaScript -->
    <script src="resources/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="resources/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="resources/dist/js/sb-admin-2.js"></script>

</head>

    <!-- Controllers-->
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/forgot.js"></script>
    <script type="text/javascript" src="js/globalController.js"></script>
    <!-- Controllers-->

    <!-- company -->
    <script src="modules/company/config.js"></script>

    <!-- common -->
    <script src="modules/common/config.js"></script>

    <!-- admin -->
    <script src="modules/admin/config.js"></script>

    <!-- Vendor-->
    <script src="modules/vendor/config.js"></script>

    <!-- Customer-->
    <script src="modules/customer/config.js"></script>

    <!-- Employee-->
    <script src="modules/employee/config.js"></script>

    <!-- unit-->
    <script src="modules/unit/config.js"></script>

    <!-- product-->
    <script src="modules/product/config.js"></script>

    <!-- Purchase-->
    <script src="modules/purchase/config.js"></script>

    <!-- Purchase Return-->
    <script src="modules/purchasereturn/config.js"></script>

    <!-- Expense-->
    <script src="modules/expense/config.js"></script>

    <!--Purchase Expense-->
    <script src="modules/purexpense/config.js"></script>

    <!-- Expense Type-->
    <script src="modules/expensetype/config.js"></script>

    <!--Daily Expense-->
    <script src="modules/dailyexpense/config.js"></script>

    <!-- Sale-->
    <script src="modules/sale/config.js"></script>

    <!-- Bank-->
    <script src="modules/bank/config.js"></script>

    <!-- Cash-->
    <script src="modules/cash/config.js"></script>

    <!-- Bank Withdraw-->
    <script src="modules/bankwithdraw/config.js"></script>

    <!-- Cash Transfer-->
    <script src="modules/cashtransfer/config.js"></script>

    <!-- Sale Return-->
    <script src="modules/salereturn/config.js"></script>

    <!-- Report-->
    <script src="modules/report/config.js"></script>
    <script src="modules/report/controllers/balancesheet-report.js"></script>

<body ng-controller="ForgotCtrl">

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><img src="resources/watersupply.png"></h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <h2 style="text-align: center;">Forgot Password</h2>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" id="username" type="text" ng-model="forgotpass.username" autofocus>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-success btn-block" id="forgot" ng-click="forgot()">Send Email</button>
                                <div class="checkbox">
                                    <!-- <label> -->
                                      <button type="button" class="btn btn-link primary p-x-0" onclick="window.location = 'login.html'" style=";margin-top:-10px;">Login?</button>
                                    <!-- </label> -->
                                </div>
                            </fieldset>
                        </form>
                        <br>
                        <div class="pull-right"> <p>developed by - <a href="http://www.3commastechnologies.com" target="_blank">3 Commas Technologies</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>