<div class="row" ng-init="getAll();">
    <div class="col-lg-12">
        <h1 class="page-header">Expense List</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div align="center" v-align="bottom" ng-hide="loading1 == 1" style="margin: auto; height:400px;">
    <img src="resources/images/reload.gif" style="margin-top: 170px; height: 60px;width: 60px;">
</div>
<div class="row" ng-show="loading1 == 1">
	<div class="col-lg-12">
	    <div class="panel panel-default">
            <div class="panel-body">
            	<div class="row">
		        	<div class="col-lg-11">
		            	<input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search by - Payment Mode"/>
		            </div>
		            <div class="col-lg-1">
		            	<a class="btn btn-outline btn-info" href="#/dailyexpense/add">Add</a>
		            </div>
		        </div>
		        <br>
                <div class="row" id="addrecord">
                    <center><p>No record available please add new expense</p><br><a class="btn btn-outline btn-info" href="#/dailyexpense/add">Add</a></center>
                </div>
		        <div class="table-responsive" id="checkrecord">
                    <table class="table table-hover">
                        <thead>
                            <tr>
								<th>Expense No</th>        
								<th>Type</th> 
								<th>Payment Mode</th>
								<th>Comment</th>
								<th>Date</th>   
								<!-- <th>Received By</th>  -->
								<th>Amount</th>
								<th>Cheque No</th>
								<th>Cheque Date</th>
								<th>Transaction No</th>
								<th>Transaction Date</th>
								<th>Action</th>
							</tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="expense in filteredTodos | filter : expense">
								<td>{{expense.dem_id}}</td>
								<td>{{expense.etm_type}}</td>
								<td>{{expense.em_payment_mode}}</td>
								<td>{{expense.em_comment}}</td>
								<td>{{expense.em_date | date : 'dd-MM-yyyy'}}</td>
								<!-- <td>{{expense.em_received_by}}</td> -->
								<td>{{expense.em_amount}}</td>
								<td>{{expense.em_cheque_no}}</td>
								<td>{{expense.em_cheque_date | date : 'dd-MM-yyyy'}}</td>
								<td>{{expense.em_transaction_no}}</td>
								<td>{{expense.em_transaction_date | date : 'dd-MM-yyyy'}}</td>
								<td>
									<a href="#/dailyexpense/edit/{{expense.dem_id}}"><i class="fa fa-pencil"></i></a>
									<i class="fa fa-trash" ng-click="deleteExpense(expense)"></i>
								</td>
							</tr>
                        </tbody>
                    </table>
                    <br>
                    <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{expenseListcount}} Expense's</span>
				    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
				          style="float: right;margin-top: -27px;">
				      <pagination
				              ng-model="currentPage"
				              total-items="expenseListcount"
				              max-size="maxSize"
				              boundary-links="true" data-num-pages="noOfPages"
				              items-per-page="numPerPage">
				      </pagination>
			    	</span>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
	    </div>
	    <!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->